* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  filter: invert(100%);
}

.titlee {
  font-family: "Gloock", serif;

  font-size: 3rem !important;
}
.line {
  border: solid 1px white;
  height: 1px;
  max-width: 400px;
  min-width: 250px;
}
.userin {
  aspect-ratio: 1/1;
  font-family: "Bebas Neue", cursive;
  line-height: 100%;
  font-size: xxx-large;  
  text-align: center;
}

.board {
  max-width: 400px;
  min-width: 250px;
}
